services:
  db:
    image: postgres:15
    container_name: arinat_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - arinat-network # Ağı sabitledik
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    env_file: ./.env
    container_name: arinat_backend
    restart: always
    ports:
      - "5001:5000"
    environment:
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME} # İç ağda port 5432'dir
      JWT_SECRET: ${JWT_SECRET}
      NODE_ENV: ${NODE_ENV}
      PORT: 5000
    depends_on:
      db:
        condition: service_healthy
    networks:
      - arinat-network

networks:
  arinat-network:
    # DNS hatasını önlemek için özel ağ
    driver: bridge

volumes:
  postgres_data:
